---
title: "Projects"
author: "Chris Kottom"
description: Projects I'm doing and have done
---
<h2 class="text-5xl mb-12 text-center text-sky-900 md:text-left dark:text-sky-100">Projects</h2>

<div class="px-6 mb-12 md:px-0">
  <div class="mt-12 w-full mx-auto grid gap-5 grid-cols-1 lg:grid-cols-2">

    <!-- Developing Rails API Applications -->
    <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
      <div class="flex-shrink-0">
        <img class="rounded-t-lg" src="/images/developing_rails_apis/card.png" title="Developing Rails API Applications" alt="Developing Rails API Applications" />
      </div>
      <div class="flex-1 p-6 flex flex-col justify-between bg-white dark:bg-gray-900">
        <div class="flex-1 flex flex-col">
          <div class="flex flex-row">
            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-gray-100 text-gray-800"> Book </span>
          </div>

          <div class="block mt-2 grow">
            <p class="text-xl font-semibold text-gray-900">
              <%= link_to 'Developing Rails API Applications', 'https://developingrailsapis.com' %>
            </p>
            <p class="mt-3 text-base text-slate-600 dark:text-slate-100">
              This book approaches the development of a Rails API-only application by building out a
              complete back end for a task management application a la Trello.
            </p>
          </div>

          <div class="mt-6 flex items-center">
            <div>
              <div class="flex space-x-1 text-sm text-gray-500 dark:text-gray-300">
                <strong>Published:</strong>
                <span>April 2017</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Minitest Cookbook -->
    <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
      <div class="flex-shrink-0">
        <img class="rounded-t-lg" src="/images/minitest_cookbook/card.jpg" title="The Minitest Cookbook" alt="The Minitest Cookbook" />
      </div>
      <div class="flex-1 p-6 flex flex-col justify-between bg-white dark:bg-gray-900">
        <div class="flex-1 flex flex-col">
          <div class="flex flex-row">
            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-gray-100 text-gray-800"> Book </span>
          </div>

          <div class="block mt-2 grow">
            <p class="text-xl font-semibold text-gray-900">
              <%= link_to 'The Minitest Cookbook', 'https://minitestcookbook.com' %>
            </p>
            <p class="mt-3 text-base text-slate-600 dark:text-slate-100">
              Like a lot of Ruby developers, nobody ever really taught me how to write good tests,
              so I decided to write a comprehensive guide for people like me who wanted to be
              expert testers using the Minitest framework.
            </p>
          </div>

          <div class="mt-6 flex items-center">
            <div>
              <div class="flex space-x-1 text-sm text-gray-500 dark:text-gray-300">
                <strong>Published:</strong>
                <span>March 2015</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
