---
title: Minitest Cheat Sheet
date: 2016-08-10 16:28:59 UTC
description: A cheat sheet for Minitest and Minitest::Spec. This free PDF is available for download and is taken from the full cheat sheet collection that comes with The Minitest Cookbook.
keywords: testing, Minitest, Minitest::Spec, cheat sheet
---
<%= partial 'partials/obsolete_content' %>
Recently I came across [a post that called out a perceived lack of documentation and learning materials for Minitest](https://medium.com/@bryanp/the-minitest-dilemma-f17ad1c7dafd) in contrast with RSpec.  And while I'm not entirely sure I agree with the premise, the main point of the article had the ring of truth to it:

> If there's a problem to be solved here, it's that the obvious parts
> of Minitest need to be better documented. Organize the new documentation
> in the format of "I want to do xyz thing",with an example.
>
> Bryan Powell

Honestly, what project couldn't use better docs - more focused, more examples, and detailed explanations?  That was exactly the same line of thinking that got me thinking about writing [The Minitest Cookbook](/minitestcookbook).

I released a cheat sheet with the book that I thought might provide people with a partial solution, so I prepared a simplified version that includes a reference to the basic methods and syntax for `Minitest` and `Minitest::Spec` as well as a full listing of all assertions and expectations for each along with simple code examples for context.  (The full version also includes Rails-specific helpers and assertions and a list of the most commonly used Capybara methods.)READMORE

<a class="font-bold text-2xl" target="_blank" href="/resources/cheatsheets_free.pdf">Get the Cheat Sheet</a>

Enjoy, and [let me know](mailto:chris@chriskottom.com?subject=cheatsheet) if it helps you.
