<nav id="header" class="fixed w-full z-10 top-0 bg-white shadow">
  <div class="container w-full max-w-3xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
      <div>
        <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="#">
          chriskottom
        </a>
      </div>

      <div id="nav-content" class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 md:bg-transparent z-20 bg-white">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <%= link_to 'Articles', 'articles', class: ('active' if current_page.path =~ /^articles/) %>
          </li>
          <li class="mr-3">
            <%= link_to 'Projects', 'projects', class: ('active' if current_page.path =~ /^projects/) %>
          </li>
          <li>
            <%= link_to 'About', 'about', class: ('active' if current_page.path =~ /^about/) %>
          </li>
          <li>
            <button
              aria-label="Toggle Dark Mode"
              type="button"
              class="w-8 h-8 rounded-full flex items-center justify-center group hover:bg-yellow-50 hover:ring-2 ring-gray-150 transition-all"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 stroke-0 stroke-yellow-500 fill-yellow-200 group-hover:fill-yellow-300">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
  </div>
</nav>
