<div class="bg-white pt-10 lg:py-8 lg:overflow-hidden">
  <div class="mx-auto max-w-6xl px-8 py-10">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight text-center sm:text-4xl lg:text-left">About the Author</h2>
        <p class="text-xl text-gray-500">
          I'm <span class="text-gray-700">Chris Kottom</span>, and I've been working
          on the web since the mid-90s. In 2006, feeling burned out after 10 years
          as a Java developer, I rediscovered my love of coding through Ruby on Rails,
          and I've been at it ever since.
        </p>
        <p class="text-xl text-gray-500">
          When I started with web applications, it was all about server-side
          rendering, and the limits to interactivity really came down to how
          creative you could be hacking applications with that as your only tool.
          As things started to change, first with Ajax and later with client-side
          rendering and full single-page applications, I started getting curious
          about how best to structure server-side apps for maximum scale and
          maintainability.  This book represents my own learning curve and the
          lessons and techniques I picked up along the way.
        </p>

        <p class="text-xl text-gray-500">
          Get in touch with questions or comments via
          <a href="mailto:chris@chriskottom.com" class="text-sky-600 hover:text-sky-700 active:text-sky-700 hover:underline active:underline">email</a> or
          <a href="https://twitter.com/chriskottom" class="text-sky-600 hover:text-sky-700 active:text-sky-700 hover:underline active:underline">Twitter</a>.
        </p>
      </div>

      <div class="mx-auto max-w-sm">
        <%= image_tag '/images/chris_and_kids.jpg', class: 'rounded-full lg:mt-10' %>
      </div>
    </div>
  </div>
</div>
