<div class="bg-white pt-10 grid grid-cols-1 gap-x-6 gap-y-0 max-w-6xl mx-auto xl:grid-cols-3">
  <div class="mx-auto px-12 py-10">
    <h2 class="text-3xl font-extrabold tracking-tight text-center mb-3 sm:text-4xl">RESTful Services for Your Apps and Integrations</h2>

    <p class="text-xl text-gray-500">
      Are you building a single-page application or mobile app? Or maybe you need
      to open up your application for integrations. If it's time to break out of
      the monolith, the book can help you get your head around the basics of API
      design, development, and testing for your new API endpoints based on REST
      principles.
    </p>
  </div>

  <div class="px-8 lg:hidden">
    <hr class="bg-slate-200 text-slate-400 max-w-md mx-auto" style="height: 3px;">
  </div>

  <div class="mx-auto px-12 py-10">
    <h2 class="text-3xl font-extrabold tracking-tight text-center mb-3 sm:text-4xl">Secure Your API and Limit Access to Sensitive Data</h2>

    <p class="text-xl text-gray-500">
      Knowing who your users are and what information they're allowed to access
      is essential for most grown-up applications, but APIs need to use different
      techniques than traditional Rails web apps. In this book, we'll look at three
      models popular with API developers and show when and how you can apply each
      one.
    </p>
  </div>

  <div class="px-8 lg:hidden">
    <hr class="bg-slate-200 text-slate-400 max-w-md mx-auto" style="height: 3px;">
  </div>

  <div class="mx-auto px-12 py-10">
    <h2 class="text-3xl font-extrabold tracking-tight text-center mb-3 sm:text-4xl">Interface Designs That Stand the Test of Time</h2>

    <p class="text-xl text-gray-500">
      Developing a stable API is only about 20% about coding. The other 80% comes
      down to making good design decisions and applying them consistently throughout
      your application. We'll study some of the most common design challenges and
      look at patterns and tools to help solve them.
    </p>
  </div>
</div>
