---
layout: landing
title: Learn to write API applications using Rails and JSON
author: Chris Kottom
description: Build the knowledge and skills to start creating Rails API backend apps with this crash course.
keywords: Ruby, Ruby on Rails, API applications, JSON:API
type: book
publication_year: 2017
---
<div class="relative overflow-hidden">
  <main>
    <%= partial 'partials/developing-rails-apis/hero' %>
    <%= partial 'partials/developing-rails-apis/pitch' %>
    <%= partial 'partials/developing-rails-apis/contents' %>
    <%= partial 'partials/developing-rails-apis/author' %>

    <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  </main>
</div>
