<div class="bg-white pt-10 lg:py-8 lg:overflow-hidden">
  <div class="mx-auto max-w-6xl px-8 py-10">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight text-center sm:text-4xl lg:text-left">About the Author</h2>
        <p class="text-xl text-gray-500">
          I'm <span class="text-gray-700">Chris Kottom</span>, and I've been working
          on the web since the mid-90s. In 2006, feeling burned out after 10 years
          as a Java developer, I rediscovered my love of coding through Ruby on Rails,
          and I've been at it ever since.
        </p>
        <p class="text-xl text-gray-500">
          Like a lot of new arrivals to the community, I liked the integration of
          tests as first-class citizens of the framework, but at that point, I had
          almost no experience with test automation. So after years of faking it,
          I decided to make writing great tests my super power and to help other
          developers learn to do the same.
        </p>

        <p class="text-xl text-gray-500">
          Get in touch with questions or comments via
          <a href="mailto:chris@chriskottom.com" class="text-sky-600 hover:text-sky-700 active:text-sky-700 hover:underline active:underline">email</a> or
          <a href="https://twitter.com/chriskottom" class="text-sky-600 hover:text-sky-700 active:text-sky-700 hover:underline active:underline">Twitter</a>.
        </p>
      </div>

      <div class="mx-auto max-w-sm">
        <%= image_tag '/images/minitest_cookbook/chris_and_kids.jpg', class: 'rounded-full lg:mt-10' %>
      </div>
    </div>
  </div>
</div>
