<div class="bg-gray-100 pt-10 border-t border-b border-gray-300 lg:py-8 lg:overflow-hidden">
  <div class="mx-auto max-w-7xl px-8 py-10">
    <h2 class="text-3xl font-extrabold tracking-tight text-center mb-6 sm:text-4xl">Table of Contents</h2>
    <div class="grid grid-cols-1 gap-3 max-w-md mx-auto lg:grid-cols-2 lg:gap-8 lg:max-w-4xl">
      <div>
        <ul class="list-disc text-xl pl-6 leading-normal text-gray-700">
          <li>Introduction</li>
          <li>How Minitest Works</li>
          <li>Add Minitest to a Ruby Project</li>
          <li>Running Your Tests</li>
          <li>Writing Tests and Specs</li>
          <li>Configuring Pre-Test State</li>
          <li>Comparing Things</li>
          <li>Having Fun with Minitest::Pride &amp; Friends</li>
          <li>Using Mocks, Stubs and Test Fakes</li>
          <li>Customizing Test Reports</li>
          <li>Testing Mixin Behavior</li>
        </ul>
      </div>

      <div>
        <ul class="list-disc text-xl pl-6 leading-normal text-gray-700">
          <li>Sharing Code Between Tests</li>
          <li>Continuous Testing</li>
          <li>Custom Assertions and Expectations</li>
          <li>Developing Your Own Extensions</li>
          <li>Adding Minitest to a Rails Project</li>
          <li>Managing Test Data</li>
          <li>Testing Rails Models</li>
          <li>Testing Rails Controllers</li>
          <li>Testing Rails Helpers</li>
          <li>Testing Rails Background Jobs</li>
          <li>Testing Your Rails Application End-to-End</li>
        </ul>
      </div>

      <div class="flex flex-col text-center items-center mt-8 lg:col-span-2">
        <a href="https://gumroad.com/l/minitestcookbook" class="inline-flex items-center px-6 py-3 grow-0 mx-auto border border-transparent shadow font-medium rounded-md text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 hover:text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mr-3" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
          <span class="font-bold leading-none text-center text-2xl">The Minitest Cookbook<br><small class="block mt-1 font-normal leading-none text-center text-xl">Buy Now for $39</small></span>
        </a>

        <a href="/resources/TheMinitestCookbook-sample.pdf" class="mt-2 text-sky-800 hover:text-sky-700">Or grab the first three chapters <u>FREE</u></a>
      </div>
    </div>
  </div>
</div>
