<div class="relative bg-slate-800 overflow-hidden">
  <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
    <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="text-center md:mx-auto lg:col-span-7 lg:text-left">
          <h1 class="tracking-tight font-extrabold text-white text-5xl text-center mb-6 sm:text-6xl lg:text-left">
            <span class="sm:block">Learn to test with</span>
            <span class="sm:block text-indigo-400">confidence</span>
          </h1>

          <p class="mt-3 text-2xl text-gray-300 sm:mt-5">
            Learning to test your Ruby and Rails code can be tough. Even
            after you've been through blog posts and tutorials, screencasts
            and demo apps, you might find yourself feeling more lost than
            ever.
          </p>

          <p class="mt-3 text-2xl text-gray-300 sm:mt-5">
            Ruby and Rails developers emphasize testing for good reasons,
            and you want to get on board, but even so, it can be damn hard
            to learn.  You just want to write tests that tell you when
            you're breaking something, run fast, and guide you in your work.
          </p>
        </div>

        <div class="mt-8 relative flex flex-col sm:max-w-lg sm:mx-auto lg:mt-0 lg:mx-0 lg:col-span-5 lg:flex items-center">
          <%= image_tag 'minitest_cookbook_landing_page_top.png',
            title: 'The Minitest Cookbook',
            alt: 'The Minitest Cookbook',
            class: 'mb-6 mx-auto pl-6' %>

          <a href="https://gumroad.com/l/minitestcookbook" class="inline-flex items-center px-6 py-3 grow-0 mx-auto border border-transparent shadow text-base font-medium rounded-md text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 hover:text-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 mr-3" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg>
            <span class="font-bold leading-none text-center text-xl">The Minitest Cookbook<br><small class="font-normal leading-tight text-center">Buy Now for $39</small></span>
          </a>

          <a href="/resources/TheMinitestCookbook-sample.pdf" class="mt-2 text-sky-200 hover:text-sky-300">Or grab the first three chapters <u>FREE</u></a>
        </div>
      </div>
    </div>
  </div>
</div>

