---
layout: landing
title: Learn Ruby and Rails app testing with The Minitest Cookbook
author: Chris Kottom
description: A comprehensive guide to testing with Minitest covering setup, must-have extensions, and practical testing techniques. Required reading for Ruby developers.
keywords: Minitest, Ruby, Ruby on Rails, testing, automation
type: book
publication_year: 2015
---
<div id="hero" class="relative overflow-hidden">
  <main>
    <div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
            <div class="lg:py-24">
              <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                <span class="block">Learn to test with</span>
                <span class="block text-indigo-400">confidence</span>
              </h1>
              <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                Learning to test your Ruby and Rails code can be tough. Even
                after you've been through blog posts and tutorials, screencasts
                and demo apps, you might find yourself feeling more lost than
                ever.
              </p>

              <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                  Ruby and Rails developers emphasize testing for good reasons,
                  and you want to get on board, but even so, it can be damn hard
                  to learn.  You just want to write tests that tell you when
                  you're breaking something, run fast, and guide you in your work.
              </p>
            </div>
          </div>

          <div class="">
            <%= image_tag 'minitest_cookbook_landing_page_top.png',
              title: 'The Minitest Cookbook',
              alt: 'The Minitest Cookbook',
              class: 'mb-4' %>

            <div class="rounded shadow">
              <a href="https://gumroad.com/l/minitestcookbook" class="flex items-center justify-center px-5 py-3 border border-transparent text-xl bg-orange-400 text-white hover:text-gray-100"><svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 mr-3" viewBox="0 0 20 20" fill="currentColor"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" /></svg><span>The Minitest Cookbook<br><small>Buy Now for $39</small></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- More main page content here... -->
  </main>
</div>

